<div class="form-container">

    <form (ngSubmit)="title.value, content.value">
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input type="text" name="title" #note.title required class="input">
        </div>
      </div>
  
      <br>
  
      <div class="field">
        <label class="label">Body</label>
        <div class="control">
          <textarea class="textarea" name="body" #note.content></textarea>
        </div>
      </div>
  
      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <button class="btn" type="submit">Save</button>
        </div>
      </div>
  
    </form>
  
  </div>